---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Tokenomics from '../components/Tokenomics.astro';
import About from '../components/About.astro';
---

<Layout>
    <main class="min-h-screen relative">
        <div class="relative">
            <Navbar />
            <Hero />
        </div>
        <About />
        <Tokenomics />
    </main>
</Layout>