---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
---

<Layout>
    <main class="min-h-screen relative">
        <Navbar />
        <Hero />
        <!-- <About /> -->
    </main>
</Layout>